@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Parisienne&display=swap');

.pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 500px;
  text-align: center;
  font-family: 'Parisienne', cursive;
  transition: background 0.5s ease-in-out;
  border-radius: 10px;
  background-color: transparent;
  z-index: 5;
}

.close-btn.hidden {
  visibility: hidden;
}

.entireForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

textarea {
  width: 100%;
  margin-top: 100px;
  height: 425px;
  padding: 10px 45px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  border: none;
  /* Set the background image instead of white with lines */
  background-image: url('../images/note.jpg');
  background-size: cover;
  /* Make the image cover the entire textarea */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  color: #222;
  line-height: 41.5px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  outline: none;
  position: relative;
  resize: none;
}

/* Optional: Make placeholder text more visible on the image */
textarea::placeholder {
  color: black;
  /* Light color for contrast */
  font-style: italic;
}


.signature {
  font-size: 32px;
  color: #451e97;
  font-style: italic;
  font-family: 'Parisienne', cursive;
}

.submit {
  background: #d4a8fd;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.submit:hover {
  background: #af5fff;
  transform: scale(1.05);
}


.flying-gif {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: saturate(3);
  z-index: 20;
}


.close-btn {
  position: absolute;
  top: 20%;
  margin-left: 260px;
  background: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  stroke: #222;
  stroke-width: 2px;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 3;
  visibility: visible;
}

.pop.fade-out .close-btn {
  visibility: hidden;
}